/* HOTEL WEBSITE */

.container-fluid {
    position: relative;
    width: 1440px;
		height: 4058px;
		
		background: #ffffff;
}

/* rectangle1 */
.rectangle1 {
    position: absolute;
		width: 1440px;
		height: 64px;
		left: 0px;
		top: 0px;

		background: #333333;
}

/* rectangle2 */
.rectangle2 {
	position: absolute;
	width: 1440px;
	height: 120px;
	left: 0px;
	top: 64px;

	background: #F5FAFE;
}

/* rectangle3 */
.rectangle3 {
	position: absolute;
	width: 145px;
	height: 113px;
	left: 140px;
	top: 104px;

	background: #017A93;
	opacity: 0.95;
}

/* rectangle4 */
.rectangle4 {
	position: absolute;
	width: 1440px;
	height: 715px;
	left: 0px;
	top: 184px;

	background: url(img/frontpage.svg);
}

/* rectangle5 */
.rectangle5 {
	position: absolute;
	width: 1360px;
	height: 120px;
	left: 40px;
	top: 899px;

	background: #F5FAFE;
}

/* COVID-19 UPDATE: Learn about our commitment to cleanliness and new safety policies. */
p.text1 {
	position: absolute;
	width: 711px;
	height: 21px;
	left: 140px;
	top: 21px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	
	/* Identical to box height */
	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
}

/* IKOYI HOTELS */
p.text2 {
	position: absolute;
	width: 93px;
	height: 72px;
	left: 166px;
	top: 124px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 36px;
	text-align: center;

	color: #F5FAFE;
}

/* specialOffers */
.specialOffers {
	position: absolute;
	width: 124px;
	height: 27px;
	left: 325px;
	top: 137px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	color: #333333;
}