@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

body{
  background-color: #E5E5E5;
}
span{
    color: #333333;
}
header{
    padding-bottom: 40px;
}
.top-nav{
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    background:#333333 ;
}
.update{
   position: absolute;
  width: 100&;
  height: 21px;
  left: 140px;
  top: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.navbar{
position: absolute;
width: -moz-available;
height: 80px;
left: 0px;
top: 64px;
background: #F5FAFE;
z-index:2px;
}
span{
    color: #333333;
}
.sign{
    position: absolute;
    width: 127px;
    height: 27px;
    left: 1340px;
    top: -30px; 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.navbar img{
    position: absolute;
width: 1440px;
height: 120px;
left: -490px;
top: 5px;
z-index: 2px;
}
.language{
    position: absolute;
    width: 127px;
    height: 27px;
    left: 1215px;
    top: -30px; 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px; 
}
.dropdown-content{
    display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  padding: 12px 16px;
  z-index: 1;
}
.language:hover .dropdown-content{
    display: block;
}
.nav-item{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #333333;
position: absolute;
left: 380px;
top: 25px;
display: block ruby;
width: -moz-available;

}
.nav-link{
    padding-right: 30px;
    color: #333333;
    text-decoration: none;

}
.bg-img{
    position: initial;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
}
.bg-img2{
    background-size: auto;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* START CUSTOM CSS */
.btn-area div{
  height: 60px;
  display: flex;
  background-color: #017A93;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: fit-content;
}
.large-section-area{
  width: 60%;
}
.small-section-area{
  width: 40%;
  padding-left: 60px;
  padding-right: 60px;
}
.section-text-area{
  background-color: #F5FAFE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-text{
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
  color: black;
}
/* END CUSTOM CSS */

/* START BOOK NOW SECTION */
.book-now-section{
  height: 120px;
  background-color: #F5FAFE;
  display: flex;
  width: 100%;
  align-items: center;
  width: auto;
}
.book-now-section .content-row{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.book-now-section .content-row .book-now-text-area{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.book-now-section .content-row .btn-area{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

/* END BOOK NOW SECTION */

/* START FACILITIES SECTION */
.section-title{
  font-size: 20px;
  font-weight: bold;
}
.facility-section{
  display: flex;
  width: 100%;
  height: auto;
}
.restaurant-img{
  width: 100%;
  height: 100%;
  background-image: url('./images/restaurant-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hall-img{
  width: 100%;
  height: 100%;
  background-image: url('./images/hall-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fitness-img{
  width: 100%;
  height: 100%;
  background-image: url('./images/fitness-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* END FACILTIES SECTION */

