<<<<<<< Updated upstream
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
span{
    color: #333333;
}
header{
    padding-bottom: 40px;
}
.top-nav{
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    background:#333333 ;
}
.update{
    position: absolute;
width: 100&;
height: 21px;
left: 140px;
top: 21px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.navbar{
position: absolute;
width: -moz-available;
height: 80px;
left: 0px;
top: 64px;
background: #F5FAFE;
z-index:2px;
}
span{
    color: #333333;
}
.sign{
    position: absolute;
    width: 127px;
    height: 27px;
    left: 1340px;
    top: -30px; 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.navbar img{
    position: absolute;
width: 1440px;
height: 120px;
left: -490px;
top: 5px;
z-index: 2px;
}
.language{
    position: absolute;
    width: 127px;
    height: 27px;
    left: 1215px;
    top: -30px; 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px; 
}
.dropdown-content{
    display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  padding: 12px 16px;
  z-index: 1;
}
.language:hover .dropdown-content{
    display: block;
}
.nav-item{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #333333;
position: absolute;
left: 380px;
top: 25px;
display: block ruby;
width: -moz-available;

}
.nav-link{
    padding-right: 30px;
    color: #333333;
    text-decoration: none;

}
.bg-img{
    position: initial;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
}
.bg-img2{
    background-size: auto;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
>>>>>>> Stashed changes
