@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}
.main{
    width:100%;
    margin: 0;
    padding:0;
    background: #F5FAFE;
}
/* other options*/
.other{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 2.0;
    font-size:16px;
    padding: 40px;
}
.other ul li{
    list-style: none;
}
.other-options{
    text-align: left;
}
.phone-reservations{
    text-align: right;
}
/* spacial offers and exclusive*/
.special{
    text-align: center;
    margin-top: 40px;
}
.special h1{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.special p{
    margin-bottom: 5px;
}
button{
    height: 40px;
}
input{
    height:40px;
    width: 550px;
    background: #F5FAFE;
border: 1px solid #333;
}

.subscribe{
    margin-left: 10px;
    border: none;
    width: 100px;
    background: #017A93;
color: white;
font-weight: 700;
}
.subscribe:hover{
    box-shadow: 4px 13px 65px rgba(33, 77, 97, 0.5);
    cursor: pointer;
    opacity: 0.7;
}
/* contact*/
.contact{
    background: #333333;
    color:white;
    margin-top: 40px;
    padding: 40px;

}
.contact-heading{
    margin-bottom: 50px;

}
.contact-heading h5{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.contact-heading h4{
font-weight: bold;
font-size: 30px;

}
.contact  h5, .contact h4{
    text-align: center;

}
.contact-items{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-right: 2px gainsboro;

}
.contact-items h6{
    font-size: 20px;
    margin-bottom: 10px;
}
.vl {
    border-left: 1px solid #FFFFFF;
    height: 100px;
 
  }
  .address,.email,.telephone{
      margin-right: 80px;
  }
  .address p,.email p,.telephone p{
      font-weight:lighter;
      line-height: 1.5;
  }

  /* footer*/

  footer{
      background-image: url("img/footer.png");
      padding-top: 80px;
      padding-bottom: 20px;
  }
  .footer{
      display: flex;
      width: 90%;
      margin: auto;
      justify-content: space-between;
      align-items: flex-start;
     
  }
 ul{
     list-style: none;
 }
  a{
    color:white;
    text-decoration: none;  
    font-weight: 50; 
    line-height: 2.2;
  }
  .row3{
      color:white;
      margin-bottom: 20px;
  }
  .row3 input{
      width:200px;
      margin-right: 20px;
  }
  button.signup{
    background: #017A93;
    border: none;
    width: 100px;
    color:white;
  }
  .signup:hover{
    box-shadow: 4px 13px 65px rgba(33, 77, 97, 0.5);
    cursor: pointer;
    opacity: 0.7;
}
.footer-form{
      margin-top: 10px;
  }
  .social{
    margin-top: 10px;
  }
  span{
    margin:10px;
    
  }
  span:hover{
    color:#017A93;
   }
.copy{
    color: white;
    text-align: center;
    margin-top: 50px;
}

/* mobile view*/

@media(max-width:999px){
    
    /* adjusting all the contact section*/
.address,.email,.telephone{
    margin-left: 15px;
}
.address p,.email p,.telephone p{
    font-weight:lighter;
    line-height: 1.5;
}
div.email,div.address, div.telephone{
    font-size: 12px;
}
}
@media  (max-width: 768px){
    
    /* other-options*/
    .other{
        width: 90%;
        margin: auto;
        font-size: 16px;
        line-height: 1.4;
    }
    /* special offers form*/
    form{
     flex-direction: column;
    }
    div.contact{

    }
    .subscribe{
        height: 40px;
    margin-top: 10px;
    }
    
    /* contact area*/
div.email,div.address, div.telephone{
    font-size: 10px;
}
.contact-items{
    width: 90%;
    margin: auto;
   
}


/* footer*/
a{
    color:white;
    line-height: 1.5;
    font-size: 14px;
  }
button.signup{
   margin-top: 10px;
   margin-left: 20px;
  }

.row3 input{
    margin-left: 40px;
}
.row3 p{
    margin-left: 40px;

}


}
@media  (max-width: 500px){
   /* other options area*/
   .other{
        width:90%;
        margin: auto;
        flex-direction: column;
     
    }
    .other ul li{
        list-style: none;
    }
    
    .phone-reservations{
        text-align: center;
    }
   /* special offer*/
    input{
        width: 350px;
    }
    /* contact*/
    .contact-items{
        width: 90%;
        margin: auto;
       flex-direction: column;
    }
    /* footer*/
    .footer{
        width:90%;
    margin: auto;
    flex-direction: column;
 
    }
    div.footer{
        text-align: center;
    }
 ul{
      text-align: center;
  }
  
.row1,.row2{
    text-align: center;
    position: relative;
    left:30%;
    line-height:1.7 ;
}
.row3 p{
    text-align: center;
}
.row3 input{
    width:250px;
    margin-right: 20px;
}
}
@media(max-width:360px){
     /* special offer*/
     input{
        width: 300px;
    }
    .contact-heading h5{
        font-size: 16px;
    }
    .contact-heading h4{
    font-size: 20px;
    
    }
    button.signup{
        position: relative;
       }
       .row3 input{
        width:250px;
        margin-right: 20px;
    }
  
}